<a href="https://colab.research.google.com/github/sanjay6131/KatuwalSanjay_CPSMA3913_Projects/blob/main/Online/ProjectPart7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 7 : CPSMA 3913 
##Dr. Jacob
##Discrete Mathematics 
## Logic
##Sanjay Katuwal

##Logic

Here, let's start with some propositions I came up with the classes I will be taking next semester. I have a lot of classes to take but i will just pick three of them for the necessity of the project.
So,

p= TakeAppliedStats

q= TakeOperationalresearch

    
r= TakeComputerBusApplications

I will definitely take Computer Business Application and Operational Research but Applied stats will not be open untill another semester.

In [1]:
TakeAppliedStats = False
TakeOperationalresearch = True
TakeComputerBusApplication = True

Now, let's try some truth statements.

$$r \land  p$$

In [2]:
TakeComputerBusApplication and  TakeAppliedStats

False

$$ r \lor \lnot q$$

In [3]:
TakeComputerBusApplication or not TakeOperationalresearch

True

$$râŸ¹p$$

In [4]:
not TakeComputerBusApplication or TakeAppliedStats

False

Now, let me install truth table generator.

In [5]:
pip install truth-table-generator

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=76b37c623037ad46707e950bfaa624004c104e52ae76fc34502dd8097e5e9035
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=8ec7e3ef71a3ae915756c91a99d987cca48bf7da5a22b85f0689688117a36b3a
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

Lets do the truth tables:

In [7]:
import ttg
table = ttg.Truths(['p', 'q', 'r'], ['p xor q', '~(p xor q)', 'q or r', '(~(p xor q)) => (q or r)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

##Findings

Ater doing this truth table, I came to realize that it is really hard to translate the propositions in the final result of truth table. I beleive that it made it more complicated. The simple terms were explainable.